{% extends 'base.html' %}
{% block content-title %}
    <br><h2>Reset Password</h2><br><br>
{% endblock %}
{% block main-content %}
    <form action="" method="post">{% csrf_token %}
        {{ form.email.errors }}
        <div class="form-row align-items-center">
            <div class=" form-group col-auto">
                <label for="{{ form.email.id_for_label }}">Enter the Email you registered with:</label>{{ form.email }} <br>
            </div>
        </div>
        <p>Are you sure?</p>
        <input class="bg-dark" type="submit" value="Reset Password"/>
    </form>
{% endblock %}