{% extends 'base.html' %}
{% block content-title %}
    <br><h2>{{ title }}</h2><br>
{% endblock %}
<!-- ToDo Work on FrontEnd -->
{% block main-content %}
    <div class="row">
        
            <div class="card-body; col-4">
                <div class="card-header bg-dark text-white text-center"> Total Rooms</div>
                <div class="card-body bg-dark text-white text-center"> {{ total_num_rooms }}</div>
            </div>
         

        <br>
            <div class="card-body; col-4">
                <div class="card-header bg-dark text-white text-center"> Available Rooms</div>
                <div class="card-body bg-dark text-white text-center"> {{ available_num_rooms }}</div>
           </div>
        

        <br>
            <div class="card-body; col-4">
                <div class="card-header bg-dark text-white text-center"> Rooms Reserved</div>
                <div class="card-body bg-dark text-white text-center"> {{ total_num_reservations }}</div>
            </div>
    
    </div>
    <br>
    <div class="row">

        <br>
            <div class="card-body; col-6">
                <div class="card-header bg-dark text-white text-center"> Working Staff</div>
                <div class="card-body bg-dark text-white text-center">  {{ total_num_staffs }} </div>
            </div>


        <br>
            <div class="card-body; col-6">
                <div class="card-header bg-dark text-white text-center"> Total Guests</div>
                <div class="card-body bg-dark text-white text-center">{{ total_num_customers }}</div>
            </div>
        
        <br>
    </div>
    <br>
    <div class="row">
        {% if user.is_authenticated %}
            <br>
                <div class="card-body; col-12">
                    <div class="card-header bg-dark text-white text-center"> See Latest Reservation</div>
                    {% if last_reserved_by.reservation_id %}
                        <div class="card-body bg-dark text-white text-center">Guest Number/Name: <a
                                href="{% url 'customer-detail' last_reserved_by.customer.customer_id %}" class="text-white text-center">{{ last_reserved_by.customer }}</a>
                        </div>
                        <div class="card-body bg-dark text-white text-center">
                            Staff Resposible:
                            {% if perms.main.can_view_staff_detail %}
                                <a href="{% url 'staff-detail' last_reserved_by.staff.staff_id %}" class="text-white text-center">{{ last_reserved_by.staff }}</a>
                                {% else %}{{ last_reserved_by.staff }}
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="card-body bg-dark text-white text-center">No Recent Reservations</div>
                    {% endif %}
                </div>
          
        {% endif %}
    </div>
{% endblock %}
