{% extends 'base.html' %}
{% load static %}
{% block content-title %}
    <br><h2>Profile Information</h2><br>
{% endblock %}

{% block main-content %}
    <img src="{{ MEDIA_URL }}{{ information.profile_picture }}"/><br/>
    Username: {{ user_information.username }}<br/><br>
    Full Name: {{ information.first_name }} {{ information.middle_name }} {{ information.last_name }}<br/><br>
    Phone No: {{ information.contact_no }}<br/><br>
    Email: {{ information.email_address }}<br/><br>
    Address: {{ information.address }}<br/>
{% endblock %}
